.catalog__wrapper {
}
.catalog__title {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.catalog__categories {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
}

.categories__image {
    width: 150px;
    max-height: 100px;
    background: #ffffff;
    border-bottom: 4px solid #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.2;
}
.categories__image:hover {
    border-bottom: 4px solid #018ac4;
    opacity: 1;
    transition: 0.5s;
}
.categories__image__on {
    border-bottom: 4px solid #018ac4;
    opacity: 1;
}
.categories__title {
    margin-top: 10vw;
    line-height: 20px;
    text-align: center;
}
.categories__image:hover > .categories__title {
    visibility: visible;
}
.catalog__goods-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.catalog__paginator {
    text-align: center;
}