.cart-min__wrapper {
    display: flex;
}

.cart-min__link {
    position: relative;
    margin: 0 20px;
    line-height: 32px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 2;
}

.cart-min__link:before {
    position: absolute;
    content: '';
    display: block;
    top: 21px;
    left: -5px;
    right: calc(100% + 5px);
    height: 4px;
    background: #dd0000;
    z-index: 1;
    transition: ease-out 300ms;
}
.cart-min__link:hover:before {
    right: -5px;
}

.cart-min__counter {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: black;
    padding: 0 2px;
    line-height: 20px;
    min-width: 20px;
    background: #ffffff;
    border-radius: 10px;
}